<p>
  This is a kitchen sink example made with the Angular 2 bindings for Onsen UI.
</p>

<p>
  <a href="https://onsen.io/v2/angular2.html" target="_blank"><strong>Official site with docs</strong></a>
</p>

<ons-list>
	<ons-list-header>Todos</ons-list-header>
    <ons-list-item>
    	<div class="center">Pull hook</div>
    </ons-list-item>
    <ons-list-item>
    	<div class="center">Infinite scroll</div>
    </ons-list-item>
    <ons-list-item>
    	<div class="center">Side menu</div>
    </ons-list-item>
    <ons-list-item>
    	<div class="center">Floating action button</div>
    </ons-list-item>
    <ons-list-item>
    	<div class="center">Speed dials</div>
    </ons-list-item>
</ons-list>
