<ons-list>
	<ons-list-header>Dialogs (Todo)</ons-list-header>
	<ons-list-item (click)="showDialog()">Show dialog</ons-list-item>
	<ons-list-item (click)="showPopover()">Popover</ons-list-item>
</ons-list>
<ons-list>
	<ons-list-header>Notifications</ons-list-header>
	<ons-list-item (click)="alert()">Alert Dialog</ons-list-item>
	<ons-list-item (click)="confirm()">Confirmation Dialog</ons-list-item>
	<ons-list-item (click)="prompt()">Prompt Dialog</ons-list-item>
</ons-list>


<!--
<ons-dialog cancelable [isOpen]="openDialog">
  <p>I am a ons-dialog!</p>
  <p>
    <ons-button (click)="">Close me!</ons-button>
  </p>
</ons-dialog> -->